[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "itkwasm-transform-io"
readme = "README.md"
license-expression = "Apache-2.0"
dynamic = ["version"]
description = "Input and output for scientific and medical coordinate transform file formats."
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python",
  "Programming Language :: C++",
  "Environment :: WebAssembly",
  "Environment :: WebAssembly :: Emscripten",
  "Environment :: WebAssembly :: WASI",
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
keywords = [
  "itkwasm",
  "webassembly",
  "wasi",
  "emscripten",
]

requires-python = ">=3.9"
dependencies = [
    "itkwasm >= 1.0.b185",
    "itkwasm-transform-io-wasi; sys_platform != \"emscripten\"",
    "itkwasm-transform-io-emscripten; sys_platform == \"emscripten\"",

]

[tool.hatch.version]
path = "itkwasm_transform_io/_version.py"

[tool.hatch.envs.default]
dependencies = [
  "pytest",
]

[project.urls]
Home = "https://github.com/InsightSoftwareConsortium/ITK-Wasm"
Source = "https://github.com/InsightSoftwareConsortium/ITK-Wasm"

[tool.hatch.envs.default.scripts]
test = "pytest"


[tool.hatch.build]
exclude = [
  "/examples",
]
