[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "itkwasm"
description = "Python interface to itk-wasm WebAssembly (Wasm) modules."
authors = [{name = "Matt McCormick", email = "matt.mccormick@kitware.com"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    'Development Status :: 3 - Alpha',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
]
keywords = [
    "itk",
    "imaging",
    "visualization",
]
dynamic = ["version"]

requires-python = ">=3.7"
dependencies = [
    "numpy",
    "typing_extensions",
    "wasmtime; sys_platform != \"emscripten\"",
    "importlib_metadata; python_version < \"3.10\"",
]

[project.urls]
Home = "https://wasm.itk.org/"
Source = "https://github.com/InsightSoftwareConsortium/itk-wasm"
Issues = "https://github.com/InsightSoftwareConsortium/itk-wasm/issues"

[tool.hatch.envs.default]
dependencies = [
    "itk>=5.3.0",
    "pytest >=2.7.3",
    "pytest-pyodide",
]

[tool.hatch.envs.default.scripts]
test = [
    "hatch build -t wheel",
    "pytest --dist-dir=./dist --rt=chrome",
]
download-pyodide = [
  "curl -L https://github.com/pyodide/pyodide/releases/download/0.23.1/pyodide-0.23.1.tar.bz2 -o pyodide.tar.bz2",
  "tar xjf pyodide.tar.bz2",
  "rm -rf dist pyodide.tar.bz2",
  "mv pyodide dist",
]

[tool.hatch.version]
path = "itkwasm/__init__.py"
