[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "itkwasm"
description = "Python interface to itk-wasm WebAssembly (Wasm) modules."
authors = [{name = "Matt McCormick", email = "matt@mmmccormick.com"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    'Development Status :: 3 - Alpha',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
]
keywords = [
    "itk",
    "imaging",
    "visualization",
]
dynamic = ["version"]

requires-python = ">=3.9"
dependencies = [
    "numpy",
    "typing_extensions",
    "platformdirs; sys_platform != \"emscripten\"",
    "wasmtime >= 27.0.0; sys_platform != \"emscripten\"",
    "importlib_metadata; python_version < \"3.10\"", "dask[array]>=2024.11.2,<2025",
]

[project.urls]
Home = "https://itkwasm.readthedocs.io"
Source = "https://github.com/InsightSoftwareConsortium/ITK-Wasm"
Issues = "https://github.com/InsightSoftwareConsortium/ITK-Wasm/issues"

[tool.hatch.version]
path = "itkwasm/__init__.py"

[tool.black]
line-length = 120

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "linux-aarch64", "osx-arm64"]

[tool.pixi.dependencies]
python = "3.13.*"
hatch = ">=1.13.0,<2"
pip = ">=24.2,<25"
pytest = ">=8.3.3,<9"

[tool.pixi.pypi-dependencies]
itkwasm = { path = ".", editable = true }
pyodide-py = ">=0.26.4, <0.27"
pytest-pyodide = ">=0.58.3, <0.59"
itk = ">=5.4.0"
test_accelerator = { path = "test/test-accelerator", editable = true }

[tool.pixi.tasks.build]
cmd = "hatch build"
description = "Build package wheels"

[tool.pixi.tasks.download-pyodide]
cmd = '''curl -L https://github.com/pyodide/pyodide/releases/download/0.26.4/pyodide-0.26.4.tar.bz2 -o pyodide.tar.bz2 &&
  tar xjf pyodide.tar.bz2 &&
  rm pyodide.tar.bz2'''
outputs = ["pyodide"]
description = "Download Pyodide"

[tool.pixi.tasks.test]
cmd = '''mkdir -p dist/pyodide &&
  cp -r pyodide dist/ &&
  hatch build -t wheel ./dist/pyodide/ &&
  pytest --dist-dir=./dist/pyodide --rt=chrome'''
depends-on = ["download-pyodide"]
description = "Run tests"

[tool.pixi.tasks.publish]
cmd = '''rm -rf dist &&
  hatch build &&
  hatch publish'''
description = "Publish package wheels"
