[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "itkwasm-compress-stringify"
readme = "README.md"
license = "Apache-2.0"
dynamic = ["version"]
description = "Zstandard compression and decompression and base64 encoding and decoding in WebAssembly."
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python",
  "Programming Language :: C++",
  "Environment :: WebAssembly",
  "Environment :: WebAssembly :: Emscripten",
  "Environment :: WebAssembly :: WASI",
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
keywords = [
  "itkwasm",
  "webassembly",
  "wasi",
  "emscripten",
]

requires-python = ">=3.8"
dependencies = [
    "itkwasm >= 1.0.b171",
    "itkwasm-compress-stringify-wasi; sys_platform != \"emscripten\"",
    "itkwasm-compress-stringify-emscripten; sys_platform == \"emscripten\"",
]

[project.urls]
Home = "https://itk-wasm-compress-stringify-python-docs.on.fleek.co"
Source = "https://github.com/InsightSoftwareConsortium/itk-wasm"
Issues = "https://github.com/InsightSoftwareConsortium/itk-wasm/issues"

[tool.hatch.version]
path = "itkwasm_compress_stringify/_version.py"

[tool.hatch.envs.default]
dependencies = [
  "pytest",
  "pytest-pyodide",
  "itkwasm-compare-images",
  "itkwasm-image-io",
  "itkwasm-compare-meshes",
  "itkwasm-mesh-io",
  "itkwasm-mesh-to-poly-data",
]


[tool.hatch.envs.default.scripts]
test = [
  "hatch build -t wheel ./dist/pyodide/",
  "pytest --dist-dir=./dist/pyodide --rt=chrome",
]
download-pyodide = [
  "curl -L https://github.com/pyodide/pyodide/releases/download/0.25.0/pyodide-0.25.0.tar.bz2 -o pyodide.tar.bz2",
  "tar xjf pyodide.tar.bz2",
  "rm -rf dist/pyodide pyodide.tar.bz2",
  "mkdir -p dist",
  "mv pyodide dist",
]
serve = [
  "hatch build -t wheel ./dist/pyodide/",
  'echo "\nVisit http://localhost:8877/console.html\n"',
  "python -m http.server --directory=./dist/pyodide 8877",
]


[tool.hatch.build]
exclude = [
  "/examples",
]
