*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.out
*.pdf
*.ps
*.toc

build-emscripten
build-wasi
src/io/internal/ImageIOIndex.ts
src/io/internal/MeshIOIndex.ts

dist/*
!dist/dicom

dist/dicom/*
!dist/dicom/cypress
!dist/dicom/dist
!dist/dicom/src
!dist/dicom/test

dist/dicom/dist/*
!dist/dicom/dist/demo

dist/dicom/dist/demo/*
!dist/dicom/dist/demo/app.js

packages/compress-stringify/typescript/dist/pipelines/
packages/compress-stringify/typescript/dist/*.d.ts
packages/compress-stringify/typescript/dist/*.js
packages/compress-stringify/typescript/dist/*.map
packages/compress-stringify/typescript/cypress/videos/
packages/compress-stringify/emscripten-build/
packages/compress-stringify/wasi-build/
packages/compress-stringify/typescript/demo/
packages/compress-stringify/typescript/dist/

node_modules
.DS_Store
yarn.lock
.vscode

examples/Node.js/logo.tif
examples/Node.js/package-lock.json
examples/HelloWorld/emscripten-build
examples/HelloWorld/wasi-build
examples/HelloWorld/package-lock.json
examples/UMD/package-lock.json
examples/Webpack/package-lock.json
examples/Webpack/cypress/videos/

test/median-filter-pipeline/itk-wasm
test/pipelines/median-filter-pipeline/emscripten-build
test/pipelines/median-filter-pipeline/wasi-build
src/docker/itk-wasm/median-filter-pipelineCopy/

src/docker/itk-wasm/ITKWebAssemblyInterfaceModuleCopy/
test/stdout-stderr-pipeline/itk-wasm
test/pipelines/stdout-stderr-pipeline/emscripten-build/
test/pipelines/input-output-files-pipeline/emscripten-build/
test/pipelines/mesh-read-write-pipeline/emscripten-build/
test/pipelines/stdout-stderr-pipeline/wasi-build/
test/pipelines/input-output-files-pipeline/wasi-build/
test/pipelines/mesh-read-write-pipeline/wasi-build/

cypress/screenshots/
cypress/videos/
