*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.out
*.pdf
*.ps
*.toc

build
built
src/io/internal/ImageIOIndex.ts
src/io/internal/MeshIOIndex.ts

dist
node_modules
.DS_Store
yarn.lock
.vscode

examples/Node.js/logo.tif
examples/Node.js/package-lock.json
examples/HelloWorld/web-build
examples/HelloWorld/wasi-build
examples/HelloWorld/package-lock.json
examples/UMD/package-lock.json
examples/Webpack/package-lock.json

test/MedianFilterPipeline/itk-wasm
test/pipelines/MedianFilterPipeline/web-build
test/pipelines/MedianFilterPipeline/wasi-build
src/docker/itk-wasm/MedianFilterPipelineCopy/

src/docker/itk-wasm/ITKWebAssemblyInterfaceModuleCopy/
test/StdoutStderrPipeline/itk-wasm
test/pipelines/StdoutStderrPipeline/web-build/
test/pipelines/InputOutputFilesPipeline/web-build/
test/pipelines/MeshReadWritePipeline/web-build/
test/pipelines/StdoutStderrPipeline/wasi-build/
test/pipelines/InputOutputFilesPipeline/wasi-build/
test/pipelines/MeshReadWritePipeline/wasi-build/
