*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.out
*.pdf
*.ps
*.toc

build
built
src/io/internal/ImageIOIndex.ts
src/io/internal/MeshIOIndex.ts

dist
node_modules
.DS_Store
yarn.lock

examples/Node.js/logo.tif
examples/Node.js/package-lock.json
examples/NodeHelloWorld/web-build
examples/NodeHelloWorld/package-lock.json
examples/UMD/package-lock.json

test/MedianFilterPipeline/itk-js
test/pipelines/MedianFilterPipeline/web-build
test/pipelines/MedianFilterPipeline/wasi-build
src/docker/itk-js/MedianFilterPipelineCopy/

src/docker/itk-js/ITKBridgeJavaScriptModuleCopy/
test/StdoutStderrPipeline/itk-js
test/pipelines/StdoutStderrPipeline/web-build/
test/pipelines/InputOutputFilesPipeline/web-build/
test/pipelines/MeshReadWritePipeline/web-build/
test/pipelines/WriteVTKPolyDataPipeline/web-build/
test/pipelines/CLPExample1/web-build/
src/pipeline/mesh-to-polydata/web-build/
test/pipelines/StdoutStderrPipeline/wasi-build/
test/pipelines/InputOutputFilesPipeline/wasi-build/
test/pipelines/MeshReadWritePipeline/wasi-build/
test/pipelines/WriteVTKPolyDataPipeline/wasi-build/
test/pipelines/CLPExample1/wasi-build/
src/pipeline/mesh-to-polydata/wasi-build/
