name: clang-format linter

on: [push,pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: InsightSoftwareConsortium/ITKClangFormatLinterAction@main
      with:
        itk-branch: main
