name: Node.js Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash -leo pipefail {0} {0}

env:
  OCI_EXE: docker

jobs:
  itkwasm-node-js:
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 3
      matrix:
        package: [compress-stringify, compare-images, dicom, mesh-io, image-io, downsample]

    steps:
    - uses: actions/checkout@v4

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main

    - name: Pull latest Docker images
      run: |
        ./src/docker/pull.sh --no-debug

    - uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install
      uses: pnpm/action-setup@v4
      with:
        run_install: true

    - name: Build itk-wasm
      run: |
        pnpm run --aggregate-output --filter itk-wasm build

    - name: Build build:gen:typescript
      run: |
        pnpm run --aggregate-output build:gen:typescript

    - name: Build typescript
      run: |
        pnpm install
        # Build the generated TypeScript package
        pnpm run --aggregate-output --filter "@itk-wasm/${{ matrix.package }}..." build:tsc
        pnpm run --aggregate-output --filter "@itk-wasm/${{ matrix.package }}" build

    - name: Download test data
      run: |
        pnpm run --aggregate-output --filter "@itk-wasm/${{ matrix.package }}-build" test:data:download

    - name: Lint tests
      run: |
        pnpm run test:lint

    - name: Node tests
      run: |
        pnpm run --aggregate-output --filter "@itk-wasm/${{ matrix.package }}" test:node

    - name: itk-wasm Node tests
      run: |
        pnpm run --aggregate-output --filter "itk-wasm" test:node

    - name: Publish task
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "itk+community@discourse.itk.org"
        # todo: use changeset / pnpm publish
