name: PR Checks
on: pull_request

jobs:
  pr-checks:
    runs-on: ubuntu-22.04
    name: Check and lint PR
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Lint commits
        run: npx commitlint --from=${{ github.event.pull_request.base.sha }}
