name: Python Wasm

on: [push,pull_request]

jobs:
  test-itkwasm:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-12]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./src/python/itkwasm
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[test]"
      - name: Test with pytest
        working-directory: ./src/python/itkwasm
        run: |
          pytest --junitxml=junit/test-results.xml
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: 'src/python/itkwasm/junit/test-results*.xml'
