name: WASI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  OCI_EXE: docker

jobs:
  build-test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6.0.2

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main

    - uses: actions/setup-node@v6
      with:
        node-version: '22'

    - name: Install
      uses: pnpm/action-setup@v4
      with:
        run_install: true

    - uses: nick-fields/retry@v3
      with:
        max_attempts: 5
        timeout_minutes: 10
        command: ./src/docker/pull.sh --no-debug

    - name: Build
      run: |
        pnpm run --aggregate-output build:wasi

    - name: Download test data
      run: |
        pnpm run --aggregate-output test:data:download

    - name: Test
      run: |
        pnpm run --aggregate-output test:wasi
